
--------------------------------------------------------------------
== SA Health ==
    Blue
    #0092CF

        Blue 80%
        #CDEAF6

== Safety and Quality ==
    Green
    #7AC143

        Green 80%
        #E5F3DA

----------------------------------------------------------

Clinical Risk Profile
#C1437A
#A1C143
#43C16E
#C17A43
#4343C1
#C1435D
#C143A1
#FF0000
#FFFF00
#0000FF
#800080
#FFA500
#008000
#FF6347
#4682B4

----------------------------------------------------------

dataColors = [
    {1,  "#B71C1C", "Red1", "Red_Dark", "TrafficLight_Red"},
    {2,  "#E53935", "Red2", "Red", "bad"},
    {3,  "#FF8A80", "Red3", "Red_Light", ""},
    {4,  "#FF6F00", "Orange1", "Orange_Dark", "TrafficLight_Orange"},
    {5,  "#FFA000", "Orange2", "Orange", ""},
    {6,  "#FFD180", "Orange3", "Orange_Light", ""},
    {7,  "#FBC02D", "Yellow1", "Yellow_Dark", "neutral"},
    {8,  "#FFEB3B", "Yellow2", "Yellow", ""},
    {9,  "#FFF9C4", "Yellow3", "Yellow_Light", ""},
    {10, "#478E10", "Green1", "Green_Dark", "TrafficLight_Green"},
    {11, "#7AC143", "Green2", "Green", "backgroundTertiary"},
    {12, "#ADF476", "Green3", "Green_Light", "good"},
    {13, "#005F9C", "Blue1", "Blue_Dark", ""},
    {14, "#0092CF", "Blue2", "Blue", "backgroundSecondary"},
    {15, "#33C5FF", "Blue3", "Blue_Light", ""},
    {16, "#4B006E", "Purple1", "Purple_Dark", "maximum"},
    {17, "#8E24AA", "Purple2", "Purple", "center"},
    {18, "#E1BEE7", "Purple3", "Purple_Light", "minimum"},
    {19, "#333333", "Grey1", "Grey_Dark", "Shadow_Color"},
    {20, "#666666", "Grey2", "Grey", "null"},
    {21, "#999999", "Grey3", "Grey_Light", ""},
    {22, "#060606", "Text1", "Text_Dark", "Title_Dark"},       
    {23, "#0C0C0C", "Text2", "Text_Label", "Header"},
    {24, "#191919", "Text3", "Text_General", "Text"},
    {25, "#FFFFFF", "Text4", "Text_Light", "Title_Light"},
    {26, "#0000FF", "Hyperlink1", "Hyperlink_Active", ""},
    {27, "#800080", "Hyperlink1", "Hyperlink_Visited", ""},
    {28, "#FFFFFF", "Background1", "background", "background"},            
    {29, "#EAEAEA", "Background2", "Background_Light", "backgroundLight"},
    {30, "#CCCCCC", "Background3", "Outspace", "secondaryBackground"},            
    {31, "#D9D9D9", "Background4", "Background_Dark", "backgroundDark"},
    {32, "#CDEAF6", "Background5", "Background_Blue", "backgroundSecondaryLight"},
    {33, "#E5F3DA", "Background6", "Background_Green", "backgroundTertiaryLight"},
    {34, "#5C5C5C", "Line1", "Gridline1", "Gridline"}
]
    {"Order", "Hex", "Name", "Theme", "AltUse"};
